<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>
    {% if name %}
        <h2>Hello {{ name }}, How are you</h2>
    {% else %}
        <h2>Please type a name!</h2>
    {% endif %}
</h1>
<form method = "post" action="{% url 'index' %}">
{{ form.as_table }}
    {% csrf_token %}
    <button>Send form</button>
</form>
</body>
</html>