<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav >
    <a href="{% url 'index' %}">Go to home</a>
    <a href="{% url 'redirect to home' %}">Go redirect</a>
</nav>
<h1>Original: {{ title }} : {{ value }} : {{ info.address }} : {{ student.get_info }}</h1>
<h1>Lower: {{ title|lower }} : {{ value }} : {{ info.address }} : {{ student.get_info }}</h1>
<h1>Upper first char: {{ title|capfirst }} : {{ value }} : {{ info.address }} : {{ student.get_info }}</h1>
<h1>Lowered then capfirst: {{ title|lower|capfirst }} : {{ value }} : {{ info.address }} : {{ student.get_info }}</h1>
<h1>Sum number: {{ 2|add:3|add:4 }}</h1>
<h1>Truncate first 10: {{ title|truncatechars:10 }}</h1>
<h1>{{ now|date:"d-m-Y" }}</h1>

<h2>
    {% if students %}
    {{ students|join:', ' }}
    {% else %}
    "No students"
    {% endif %}
</h2>

<div>
    {% for student in students %}
    <h3>{{ student }}</h3>
    {% endfor %}
</div>
</body>
</html>